@font-face {
  font-family: 'iconfont'; /* Project id 3344110 */
  src: url('iconfont.woff2?t=1650433321109') format('woff2'),
    url('iconfont.woff?t=1650433321109') format('woff'),
    url('iconfont.ttf?t=1650433321109') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhifupingtai-zhifubao:before {
  content: '\e613';
}

.icon-weixinzhifu:before {
  content: '\e689';
}
